In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder

In [2]:
df_bank = pd.read_csv('bank.csv')

In [4]:
df_bank.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [16]:
# Sacar del dataset las columnas que no aportan información relevante
# sacar Loan_ID
df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             0 non-null      float64
 1   Married            611 non-null    object
 2   Dependents         599 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      582 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    object
dtypes: float64(5), int64(1), object(6)
memory usage: 57.7+ KB

In [17]:
df_bank1 = pd.read_csv('bank.csv')

In [18]:
df_bank1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [19]:
# Rellenamos Gender nulos

print("Nulos en Gender:", df_bank1['Gender'].isnull().sum())

Nulos en Gender: 13

In [22]:
# Calcular las proporciones existentes (ignorando los NaN)
gender_distribution = df_bank1['Gender'].value_counts(normalize=True, dropna=True).round(2)

In [23]:
gender_distribution

Gender
Male      0.81
Female    0.19
Name: proportion, dtype: float64

In [24]:
# Imputar valores nulos según la distribución
null_indices = df_bank1[df_bank1['Gender'].isnull()].index
df_bank1.loc[null_indices, 'Gender'] = np.random.choice(
    gender_distribution.index,
    size=len(null_indices),
    p=gender_distribution.values
)

In [25]:
# Verificar que ya no hay nulos
print("\n¿Hay nulos en Gender después de imputar? ", df_bank1['Gender'].isnull().any())

¿Hay nulos en Gender después de imputar?  False

In [26]:
df_bank1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [28]:
df_bank1['Gender'].value_counts()

Gender
Male      501
Female    113
Name: count, dtype: int64

In [30]:
# Cambiar los valores de Gender por valores numéricos: Male=1, Female=0
df_bank1['Gender'] = df_bank1['Gender'].map({'Male': 1, 'Female': 0})

In [32]:
df_bank1['Gender'].value_counts()

Gender
1    501
0    113
Name: count, dtype: int64

In [33]:
# Hacemos el mismo proceso con Married

print("Nulos en Married:", df_bank1['Married'].isnull().sum())

Nulos en Married: 3

In [35]:
#Proporciones de Married
married_distribution = df_bank1['Married'].value_counts(normalize=True, dropna=True).round(2)
married_distribution

Married
Yes    0.65
No     0.35
Name: proportion, dtype: float64

In [42]:
# Imputar valores nulos según la distribución
null_indices = df_bank1[df_bank1['Married'].isnull()].index
df_bank1.loc[null_indices, 'Married'] = np.random.choice(
    married_distribution.index,
    size=len(null_indices),
    p=married_distribution.values
)

In [43]:
df_bank1['Married'].value_counts()

Married
Yes       398
No        213
Male        2
Female      1
Name: count, dtype: int64

In [45]:
#Sustituir los valores de Married por valores numéricos: Yes=1, No=0
df_bank1['Married'] = df_bank1['Married'].map({'Yes': 1, 'No': 0})
df_bank1['Married'] = df_bank1['Married'].map({'Male': 1, 'Female': 0})

In [46]:
df_bank1['Married'].value_counts()

Series([], Name: count, dtype: int64)

In [47]:
df_bank1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    int64
 2   Married            0 non-null      float64
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(5), int64(2), object(6)
memory usage: 62.5+ KB